// EXTEND
// Parrafos de la pagina principal, Index
.primerestilo{
    font-family:'Cinzel', serif;
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}

.segundoestilo{
    @extend .primerestilo;
    font-size: 1.5rem;
    font-style: italic;
}


/* Mobile First en: Pan dulces, y Precios*/
.Productos{
    display: grid;  
}
@media screen and (min-width: 480px){
    .Productos{
        grid-template-columns: auto;
        }
    .Productos__tipo{
        display: flex;
        flex-direction: column;
        align-items:center;
        border: outset #a77473 0.5rem;
        padding: 0.5rem;
        margin: 1rem;
        }
   }
@media screen and (min-width: 768px){ 
     .Productos{
            grid-template-columns: auto auto;
        }
    .Productos__tipo{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: dotted #a77473 0.5rem;
            padding: 1rem;
            margin: 1.5rem;
        }
  }


  .Producto-distinto{
      @extend .Productos;
      grid-template-columns: auto;
  }