/* Color de cuerpo de todas las paginas */
body{
    background-color: #e49d9d;} 

/* Logo de todas las paginas */
.Logo{
    background-image: url(imagenes/logo.jpg);
    background-size: contain;
    background-color: #e49d9d;
}
.Logo__imagen{
    width: 20%;
}

/* Titulo y subtitulos de todas las paginas */
.Titulo{
    text-align: center;
    font-size: 2rem;
}
.Subtitulos{
    text-align: left;
}
.Subtitulos a{
    color: rgb(244, 245, 246);
}

/* Menu de todas las paginas */
.Menu__nav ul{
    padding-left: 0px;
}
 .Menu__nav li{
    display: inline-block;
    /* margin: 2rem 0rem 2rem 0rem; */
} 
.Menu__nav a{
    text-decoration: none;
    color:ghostwhite;
    text-transform: uppercase;
    font-family:sans-serif; 
    font-size: 1.5rem ;
    padding: 0.1rem;  
    margin: 2rem; 
}

/* Pagina de Precio */
.Precio{
    text-decoration: none;
    color: rgb(244, 245, 246);
    text-transform: uppercase;
    font-family:sans-serif; 
}
/* Tabla de precios */
.TablaPrecios td{
  border: 2px double white;
  padding: 15px;
  text-align: center;
  width: 400px;
}

/* Pagina de Contacto */
.Contacto{
    display: flex;
    justify-content: center;   
    text-align: left; 
}
.Consulta{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Gradiente */
.boton{
    border-color: rgb(81, 81, 202);
    color: blueviolet;
    cursor: pointer;
    border-radius: 1rem;
    background-image: linear-gradient(to right, rgb(106, 235, 228) , rgb(238, 203, 232), rgb(106, 235, 228), rgb(238, 203, 232), rgb(60, 233, 224) , rgb(238, 203, 232), rgb(106, 235, 228), rgb(238, 203, 232), rgb(106, 235, 228), rgb(238, 203, 232));
}


/* Footer de todas las paginas */
.Footer a {
    text-decoration: none;
    color: rgb(244, 245, 246);
    text-transform: uppercase;
    font-family:sans-serif;
}