  

/* Imagen principal index */
.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
 /* Grid */
.Index{
    display: grid;
}

.Logo{
    grid-area: Logo;
}

.Menu__nav{
    grid-area: Menu;
}

.Titulo{
    grid-area: Titulo;
}

.ImagenPrincipal{
    grid-area: ImagenPrincipal;
    display: block;
    justify-content: center;
}
/* transformacíon, y transición */
.ImagenPrincipal img{
    width: 70%;
    overflow: hidden;
}
.ImagenPrincipal img:hover{
    transform: scale(1.1, 1.1);
}

.ImagenPrincipal p{
    text-align: center;
}

.Footer{
    grid-area: Footer;
}

/* Mobile first */

@media screen and (min-width: 480px){
    
    .Index{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "Logo"
        "Menu"
        "Titulo"
        "ImagenPrincipal"
        "Footer";
    }

    .Menu__nav li{
        margin: 0.5rem 0rem 0.5rem 0rem;
    }
    .Menu__nav a{
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: auto 10px auto 10px;
    }  
    .Titulo{
        font-size: 1.3rem;
    }
    
}

@media screen and (min-width: 768px){
    
    .Index{
        grid-template-columns: 1fr 6fr;
        grid-template-areas: 
        "Logo Logo"
        "Menu Titulo"
        "Menu ImagenPrincipal"
        "Footer Footer";
    }
    .Menu__nav li{
        margin: 2rem 0rem 2rem 0rem;
    }
    .Menu__nav a{
        font-size: 1.5rem;
        padding: 2rem;
    }
    .Titulo{
        font-size: 2rem;
    }
}